/* line 1, ../../front/sass/modules/_login-form.scss */
.panel-heading {
  border-color: #fff;
  background-color: #fff;
}
/* line 5, ../../front/sass/modules/_login-form.scss */
.panel-heading .active {
  font-size: 22px;
  font-weight: bold;
}
/* line 10, ../../front/sass/modules/_login-form.scss */
.panel-heading .row {
  padding-top: 5px;
}

/* line 15, ../../front/sass/modules/_login-form.scss */
.login-error-msg {
  color: #f00;
}
/* line 18, ../../front/sass/modules/_login-form.scss */
.login-error-msg .triangle {
  display: table-cell;
}
/* line 22, ../../front/sass/modules/_login-form.scss */
.login-error-msg .message {
  display: table-cell;
  padding-left: 5px;
}

/* line 28, ../../front/sass/modules/_login-form.scss */
.password-error {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
}
