@import "common";
@import "vendor/sweet-alert/sweet-alert";
@import "modules/list-table";

.page-header--notice {
  font-size: 1.3em;
  color: lighten($brand-warning, 10%);
}

.process-btns, .version-btns {
  .btn-mini {
    min-width: 8em;
  }
}