@import "common";

.hello-url {
  font-size: 1.5em;
  color: #666;
  font-weight: lighter;
  text-align: center;
}

.hello-test {
  text-align: center;
  margin: 10px;
}

.hello-test__button {
  border-radius: 2px;
  width: 200px;
}