@import "common";
@import "vendor/bootstrap/panels";
@import "vendor/bootstrap/input-groups";
@import "modules/detail-data";
@import "modules/detail-expertise-tags";
@import "modules/list-search"; 
@import "modules/landing";

.route-input {
	margin-left: 0;
	& > .input-group-addon {
		background-color: $brand-primary;
		color: #fff;
	}
}
