@import "common";
@import "vendor/bootstrap/panels";
@import "vendor/fronteed/icheck/blue";
@import "vendor/redactor/redactor";
@import "modules/update-expertise-tags";
@import "modules/update-form";

@import "pages/project/tag-select";
@import "pages/project/project-tag";

.user-avatar {
	width: 110px;
	height: 110px;
	margin-bottom: 10px;
}

.iradio-lable {
	color : #666;
    font-size: 18px;
    padding-left: 15px!important;
	margin-right: 15px;

}

.industry {
	list-style: none;
	ul {
		list-style: none;
	}
	div.icheckbox {
		margin-right: 3px;
	}
}

.error {
	font-size: $font-size-large;
	color: $brand-danger;
}