@import "common";
@import "vendor/bootstrap/input-groups";
@import "vendor/bootstrap/panels";
@import "modules/detail-data";
@import "modules/detail-expertise-tags";
@import "modules/page-header-with-btn";
@import "modules/attachment";

.user-avatar {
  width: 110px;
  height: 110px;
}

.company-logo {
  width: 480px;
  height: 300px;
  border: 1px solid #ddd;
}

.table-title {
  width: 15em;
}

.data-group {
  width: 100%;

  &.group-half {
    width: 48%;
  }
}

.rich-text-content {
  color: #333 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  // Avoid to large image
  img {
    max-width: 100%;
  }

  h3 {
    color: #333 !important;
    font-size: 24px !important;
    font-weight: initial !important;
    line-height: 30px !important;
  }

  h4 {
    color: #333 !important;
    font-size: 18px !important;
    font-weight: initial !important;
    line-height: 27px !important;
  }

  p {
    min-height: 24px;
    font-size: 16px !important;
    line-height: 24px !important;
  }

  a {
    color: #41acf8 !important;
    text-decoration: none !important;
  }

  b,
  strong {
    font-weight: bold;
  }

  i,
  em {
    font-style: italic;
  }

  ul {
    padding-left: 2em !important;
    font-size: 16px;
    line-height: 24px;
    list-style: disc;
  }

  ol {
    padding-left: 2em !important;
    font-size: 16px;
    line-height: 24px;
  }
}
