.solution-thumbs {

}

.solution-thumb-wrapper {
  margin-left: 25%;
  padding: 5px 0px;
  position: relative;
}

//.solution-thumb-choose {
//  position: absolute;
//  left: -30px;
//  top: 50%;
//
//  width: 20px;
//  height: 20px;
//
//  margin-top: -10px;
//  background-color: #ddd;
//  cursor: pointer;
//}

.solution-thumb {
  position: relative;
  display: inline-block;

  @include responsive-16-10-rectangle(100px);


  background-size: cover;
  background-position: center;

  cursor: pointer;
  border: 1px solid #ddd;
  margin-right: 10px;
}

.solution-thumb-content {
  display: inline-block;

  .content-readonly {
    position: absolute;
    top: 5px;

    width: 500px;
    height: 65px;

    border: 1px solid #ddd;
    padding: 5px;
  }

  textarea {
    width: 500px;
    height: 65px;
  }
}

.solution-cover {
  @include responsive-16-10-rectangle(610px);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-left: 25%;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 1px #aaa;
}

.solution-image-upload {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -10px;
  left: -10px;

  z-index: 2;
  @include opacity(0);

  background-color: transparent;
  color: transparent;
  font-size: 50px;

  width: 120px;
  height: 60px;

  cursor: pointer;
}

.solution-thumb-choose {
  position: absolute;
  left: -100px;
  top: 7px;
}

.onoffswitch {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #E8E3E3; border-radius: 1px;
}

.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "COVER";
  padding-left: 10px;
  background-color: #39BDDB; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "-----";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 16px; margin: 7px;
  background: #FFFFFF;
  border: 2px solid #E8E3E3; border-radius: 1px;
  position: absolute; top: 0; bottom: 0; right: 56px;
  -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}

.onoffswitch-label.active .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-label.active .onoffswitch-switch {
    right: 0px;
}

.solution-thumb-delete {
  position: absolute;
  left: -100px;
  top: 50px;

  width: 90px;
  height: 20px;

  line-height: 20px;
  border: 1px solid #ddd;
  cursor: pointer;

  text-align: center;
  font-weight: normal;
  color: #666;

  @include transition(color 0.5s, border-color 0.5s);

  &.active {
    color: $brand-danger;
    border-color: $brand-danger;
  }
}
