.wrapper {
  min-width: 1650px;
  background: #f8f8f8;
}

.page-wrapper {
  min-height: 800px;
  margin-top: -40px;
  margin-bottom: -20px;
  border-left: 1px solid #e7e7e7;
  background: #fff;
}

@media (min-width: 768px) {
  .page-wrapper {
    min-height: 800px;
    margin-left: 250px;
  }
}

.page-wrapper--collapse {
  margin-left: 0;
}

.page-header {
  padding-top: 10px;
  color: $gray-dark;
  text-align: center;
  text-transform: capitalize;
}

.link-float-right {
  float: right;
}

.pointer {
  cursor: pointer;
}
