.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #029f5b;
  font-size: 18px;
}

.login-error-msg {
  color: red;
  .triangle {
    display: table-cell;
  }

  .message {
    display: table-cell;
    padding-left: 5px;
  }
}

.password-error {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
}
