.panel-heading {
  border-color: #fff;
  background-color: #fff;

  .active {
    font-size: 22px;
    font-weight: bold;
  }

  .row {
    padding-top: 5px;
  }
}

.login-error-msg {
  color: #f00;

  .triangle {
    display: table-cell;
  }

  .message {
    display: table-cell;
    padding-left: 5px;
  }
}

.password-error {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(255, 0, 0, .6);
}
