%btn-base {
  white-space: nowrap;
  text-transform: uppercase;
  color : #ffffff;
  background: $btn-primary-bg;
  border: none;
  border-radius: 2px;
  @include transition(background 0.5s);

  &:hover, &:focus {
    outline: none;
    background: lighten($btn-primary-border, 10%);
    color: white;
    text-decoration: none;
  }

}

.btn {
  border-radius: 2px;
}

.btn-sassy {
  letter-spacing: 0.2em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-bottom: 10px;

  @extend %btn-base;
}

.btn-mini {
  letter-spacing: 0.1em;
  padding: 3px 5px;
  margin-right: .5em;
  margin-bottom: 3px;
  display: inline-block;

  @extend %btn-base;
}

.btn-flat-green {
  background: #1abc9c;
}

.btn-flat-green:hover {
  background: lighten(#1abc9c, 15%);
}

.btn-flat-purple {
  background: #9b59b6;
}

.btn-flat-purple:hover {
  background: lighten(#9b59b6, 15%);
}