.cover-wrapper {
  background-size: cover;
  background-position: center;
  border: 1px solid #ddd;
  margin-bottom: 10px;

  @include responsive-16-10-rectangle(350px);
  @include transition(width 0.5s, padding-bottom 0.5s);

  &:hover {
    @include responsive-16-10-rectangle(760px);
  }
}

.cover-zooim-in {
  color: #aaa;
  margin-bottom: 50px;
}