.inbox-search-container {
  margin-left: 30px;
}

.inbox-search-input {
  display: inline-block;
  width: 30%;

  padding-right: 20px;
  padding-bottom: 20px;

  input {
    width: 100%;
    padding: 5px;
  }
}



